RewriteEngine On
RewriteBase /

RewriteCond %{HTTPS} !=on
RewriteCond %{HTTP_HOST} ^zfahmad\.com$ [OR]
RewriteCond %{HTTP_HOST} ^www\.zfahmad\.com$
RewriteRule .* https://zfahmad.com%{REQUEST_URI} [R=301,L]

RewriteCond %{HTTPS} =on
RewriteCond %{HTTP_HOST} ^www\.zfahmad\.com$
RewriteRule .* https://zfahmad.com%{REQUEST_URI} [R=301,L]
