<div class="container">
<div class='social'>
  <a type="button" href="http://github.com/zfahmad" class="fa fa-github" aria-hidden="true"></a>
  <a type="button" href="http://linkedin.com/in/zfahmad" class="fa fa-linkedin" aria-hidden="true"></a>
  <a type="button" href="http://twitter.com/zaheen_fa" class="fa fa-twitter" aria-hidden="true"></a>
  <a type="button" href="https://scholar.google.com/citations?user=mKckpQkAAAAJ&hl=en" class="fa fa-graduation-cap" aria-hidden="true"></a>
</div>
</div>
